{% extends 'users/admin_sites/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/loading-message.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
    <div class="loading-target"></div>
    <h1 class="text-center fw-bold text-light">Accessories Sales</h1>
    <p class="text-center fw-bold text-light">Please enter the Accessary name and the quantity to sell</p>
    <a href="http://">Phones</a>
    <hr>
    <form action="" method="post" class="bg-dark shadow-lg p-3 mb-5 rounded">
        {% csrf_token %}
        <p>
            <label for="item" class="text-light fw-bold">Accessary Name:</label>
            <input type="text" name="item" class="form-control bg-dark text-light" placeholder="Enter Accessary name"
            list="item_list" id="item" required>
        </p>
        <datalist id="item_list">
            {% for item in names %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </datalist>
        <p>
            <label for="model" class="fw-bold text-light">Model:</label>
            <input type="text" name="model" class="form-control bg-dark text-light" placeholder="Enter model"
            list="model_list" id="model" required>
        </p>
        <datalist id="model_list">
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </datalist>
        <p>
            <label for="quantity" class="fw-bold text-light">Quantity:</label>
            <input type="number" name="quantity" class="form-control bg-dark text-light" placeholder="Enter quantity"
            min="0" required>
        </p>
        <p>
            <label for="id_selling_price" class="fw-bold text-light">Selling price:</label>
            <input type="number" name="selling_price" class="form-control bg-dark text-light" placeholder="Enter selling price"
            id="id_selling_price" min="0" required>
        </p>
        <button type="submit" class="btn btn-primary" id="submit">submit</button>
{% endblock %}