{% extends 'users/admin_sites/main.html' %}
{% load plus_r %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/loading-message.css' %}">
<script src="{% static 'scripts/add_to_stock.js' %}" defer></script>
{% endblock %}
{% block content %}
<style>
    .card {
      height: 350px;
      overflow-y: scroll;
      font-size: 14px;
    }

    .form_container {
        height: 350px;
    }

    form {
        height: 100%;
        overflow-y: scroll;
    }

    .data_container {
        width: 100%;
        display: flex;
    }

    .data_container .form_container {
        width: 50%;
        margin-right: 10px;
    }

    .data_container #waiting-room {
        width: 50%;
    }

    .input_container {
        display: flex;
        gap: 12px;
    }

    @media screen and (max-width: 768px) {
        .data_container {
            flex-direction: column;
        }

        .data_container .form_container {
            width: 100%;
        }

        .data_container #waiting-room {
            width: 100%;
        }
    }
</style>
<div class="container">
    {% bootstrap_messages %}
    <div class="loading-target"></div>
    <div class="container common-bg rounded">
        <h6 class="text-center fw-bold">Add Stock: Total Scanned: <span  id="total"></span></h6>
        <p class="text-center fw-bold">Please enter the Imei numbers and fill in the fields that follows with complete and accurate details</p>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link fw-bold active " aria-current="page" href="{% url 'add_to_stock' %}">New Phones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{% url 'add_refarbished' %}">Refarbished</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'add_accessaries' %}">Accessaries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" href="{% url 'add_appliances' %}">Appliances</a>
        </li>
    </ul>

    <hr>
    <div class="data_container">
        <div class="form_container">
            <form action="" method="post" class="shadow-lg p-3 mb-5 rounded" id="stock_form">
                {% csrf_token %}
                <div class="input_container">
                    <input type="text" name="device_imei" class="form-control" placeholder="Enter IMEI number 1"
                    required="" minlength="15" maxlength="15"
                    autofocus="autofocus" id="id_device_imei">
                    <input type="text" name="device_imei_2" class="form-control" placeholder="Enter IMEI number 2"
                    required="" minlength="15" maxlength="15" id="id_device_imei_2">
                </div>
                <hr class="text-danger" style="height: 15px;">
                <p>
                    <input type="text" name="cost_price" class="form-control" placeholder="Enter cost price"
                    id="id_cost_price">
                </p>
                <p>
                    <input type="text" name="name" class="form-control" placeholder="Enter phone name"
                    list="phone_list" id="id_name">   
                </p>
                <datalist id="phone_list">
                    {% for phone in phone_names %}
                    <option value="{{ phone }}">{{ phone }}</option>
                    {% endfor %}
                </datalist>
                <p>
                    <input type="text" name="model" class="form-control" placeholder="Enter model name of the phone"
                    list="model_list" id="id_model">
                </p>
                <datalist id="model_list">
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </datalist>
                <p>
                    <input type="text" name="category" class="form-control" placeholder="Enter category eg. Tecno or Itel"
                    id="id_category" list="category_list">
                </p>
                <datalist id="category_list">
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </datalist>
                <p>
                    <input type="text" name="spec" class="form-control" placeholder="Enter spec i.e 128+4, 256+8"
                    id="id_spec" list="spec_list">
                </p>
                <datalist id="spec_list">
                    {% for spec in specs %}
                    <option value="{{ spec }}">{{ spec }}</option>
                    {% endfor %}
                </datalist>
                <p>
                    <input type="text" name="supplier" class="form-control"
                    placeholder="Enter supplier" id="id_supplier" list="supplier_list">
                </p>
                <datalist id="supplier_list">
                    {% for supplier in suppliers %}
                    <option>{{ supplier }}</option>
                    {% endfor %}
                </datalist>
                <button type="button" class="btn btn-sm common-bg w-100 fw-bold" id="submit">submit</button>
            </form>
        </div>
        <hr>
        <div class="container" id="waiting-room">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header bg-light">
                        <h4 class="card-title text-center fw-bold">Scanned Items</h4>
                    </div>
                    <div class="card-body">
                        <ol class="list-group list-group-numbered">
                        </ol>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}