{% extends 'users/admin_sites/main.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/data_table.css' %}">
<link rel="stylesheet" href="{% static 'styles/agent_stock_mobile.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% bootstrap_messages %}
</div>
<nav class="navbar navbar-light card-bg">
    <div class="container">
        <form action="{% url 'data_search' %}" method="post" class="d-flex w-50">
            {% csrf_token %}
            <input type="search" class="form-control me-2 card-bg" name="search_query"
            id="search" placeholder="Device IMEI, category, model etc" autofocus>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="{%url 'accessary_sales' %}" class="btn common-bg">Accessaries</a>
        <a href="{% url 'appliance_sales' %}" class="btn common-bg">Appliances</a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
        {% if data %}
            {% for item in data %}
            <div class="col-md-4 col-12">
                <div class="card">
                    <div class="card-header  text-center">
                        <h4 class="card-title">{{ item.name }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong class="text-info">Entry Date:</strong> <span>{{ item.entry_date }}</span></p>
                        <p class="card-text"><strong class="text-info">Category:</strong> <span>{{ item.category }}</span></p>
                        <p class="card-text"><strong class="text-info">Name:</strong> <span>{{ item.name }}</span></p>
                        <p class="card-text"><strong class="text-info">Model:</strong> <span>{{ item.phone_type }}</span></p>
                        <p class="card-text"><strong class="text-info">Device IMEI:</strong> <span>{{ item.device_imei }}</span></p>
                        <p class="card-text"><strong class="text-info">Cost:</strong> <span>{{ item.cost }}</span></p>
                        {% if item.device_imei_2 %}
                            <p class="card-text"><strong class="text-info">Device IMEI 2:</strong> <span>{{ item.device_imei_2 }}</span></p>
                        {% endif %}
                        <p class="card-text"><strong class="text-info">Spec:</strong> <span>{{ item.spec }}</span></p>
                        <p class="card-text"><strong class="text-info">In Stock:</strong>
                            {% if item.in_stock %}
                                <span class="material-icons text-success">
                                    done
                                </span>
                            {% else %}
                                <span class="material-icons text-danger">
                                    close
                                </span>
                            {% endif %}
                        </p>
                        {% if not item.in_stock and item.sold %}
                            <p class="card-text"><strong class="text-info">Sold:</strong>
                                {% if item.sold %}
                                    <span class="material-icons text-success">
                                        done
                                    </span>
                                {% else %}
                                    <span class="material-icons text-danger">
                                        close
                                    </span>
                                {% endif %}
                            <p class="card-text"><strong class="text-info">Sales Type:</strong> <span>{{ item.sales_type }}</span></p>
                            {% if item.sales_type == 'Loan' %}
                            <p class="card-text"><strong class="text-info">Contract No:</strong> <span>{{ item.contract_no }}</span></p>
                            {% endif %}
                            <p class="card-text"><strong class="text-info">Sold Date:</strong> <span>{{ item.stock_out_date }}</span></p>
                            <p class="card-text"><strong class="text-info">Deployed:</strong>
                                <span class="material-icons text-success">
                                    done
                                </span>
                            </p>
                        {% else %}
                        <button type="button" class="btn common-bg w-100 fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCashModal{{ item.id }}">Cash</button>
                        <br>
                        <br>
                        <button type="button" class="btn common-bg w-100 fw-bold"
                        data-bs-toggle="modal" data-bs-target="#viewCreditModal{{ item.id }}">Credit</button>
                        {% endif %}
                    </div>
                </div>

                <div class="modal fade" id="viewCashModal{{ item.id }}" tabindex="-1" aria-labelledby="viewCashModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="viewCashModalLabel">Cash Payment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'combinedData_collection' data_id=item.id %}" method="post" class="shadow-lg p-3 mb-5 bg-body rounded d-flex flex-column justify-content-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="payment_method" value="Cash">
                                    <label for="price" class="form-label">Enter the Price</label>
                                    <input type="number" name="price" id="price" class="form-control">
                                    <br>
                                    <button type="submit" class="btn common-bg w-100 fw-bold">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="viewCreditModal{{ item.id }}" tabindex="-1" aria-labelledby="viewCreditModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="viewCreditModalLabel">Credit Sales Register</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'combinedData_collection' data_id=item.id %}" method="post" class="shadow-lg p-3 mb-5 bg-body rounded">
                                    {% csrf_token %}
                                    <input type="hidden" name="payment_method" value="Loan">
                                    <br>
                                    <label for="contract-number">Add contract number</label>
                                    <input type="text" name="contract_number" id="contract-number" class="form-control"
                                    minlength="9" maxlength="9" pattern="[A]{1}[0-9]{8}" placeholder="Add contract number here" required>
                                    <br>
                                    <label for="price" class="form-label">Enter the Price</label>
                                    <input type="number" name="price" id="price" class="form-control" placeholder="Please! enter the merchant price" required>
                                    <br>
                                    <button type="submit" class="btn common-bg w-100 fw-bold">confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="text-center bg-info">
            <p class="fw-bold text-center text-danger">
                Search in the search bar above for the device you want to deploy or sell
                You can search by device IMEI, category, model etc.
            </p>
            <p>
                For accessaries sales, click on the Accessaries button
            </p>
            <p>
                For appliances sales, click on the Appliances button
            </p>
        </div>
        {% endif %}
    </div>
</div>
<style>
    .data-card {
        display: block;
        width: 100%;
        box-shadow: 0px 0px 20px #80808066;
        margin: 20px;
        border-radius: 8px;
    }

    .data-card span,
    .card span {
        position: absolute;
        right: 1rem;
        font-size: 12px;
    }

    .data-card p,
    .data-card div {
        font-size: 12px;
        margin: 12px auto;
        font-weight: bold;
        padding-left: 12px;
    }
</style>
{% endblock %}